<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- 
    Partials are mini-templates for code that is expected 
    to repeat again and again with different data
    -->
    <!-- Could not find partials stylesheet: <ejs partial('partials/stylesheet', stylesheets) ejs> -->
    
</head>
<body>
    <!-- includes 'header' variable into h2 element -->
    <h2><%= header %></h2>
    <%- body %>
</body>
</html>