doctype html
html
	title Express Todo
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
	link(rel="stylesheet", href="stylesheets/main.css")
body
	.container
		block content